Flask==2.3.3
Flask-MySQLdb==1.0.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-WTF==1.1.1
WTForms==3.0.1
MySQLdb==1.4.6
pandas==2.0.3
matplotlib==3.7.2
seaborn==0.12.2
python-dotenv==1.0.0
gunicorn==21.2.0
openpyxl==3.1.2
