<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>Login Page</title>
    <style>
        body, section {
            margin: 0;
            padding: 0;
        }
        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .submit {
            text-align: center;
            margin-bottom: 20px;
        }
        .register {
            text-align: center;
            margin-bottom: 0;
        }
        .forgot-password {
            text-align: center;
            margin-bottom: 20px;
        }
        .forgot-password-link {
            color: #D79922;
            text-decoration: none;
        }
        .forgot-password-link:hover {
            color: #ffc107;
            text-decoration: underline;
        }
        .register-btn {
            background-color: #D79922;
            color: white;
            border: none;
            transition: background-color 0.3s ease;
        }
        .register-btn:hover {
            background-color: #ffc107;
            color: white;
        }
    </style>
</head>
<body>
    <section style="background-color: #EFE2BA; min-height: 100vh;">
        <div class="container-lg py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 mx-auto">
                <div class="col-12 col-xl-10">
                    <div class="card bg-blue" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{{ url_for('static', filename='assets/finance.png') }}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%; object-fit: cover;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                                    {{message}}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    <form method="POST" action="{{url_for('login')}}">
                                        {{form.hidden_tag()}}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endfor %}
                                        <div class="logo-container">
                                            <img class="w-25 img-fluid" src="{{ url_for('static', filename='assets/logowhite.png') }}" alt="logo"/>
                                        </div>
                                        <div class="header">
                                            <h5 class="fw-bold mb-3 pb-3 justify-content-center text-white" style="letter-spacing: 1px;">Sign into your account</h5>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-white f2-light" for="email_or_phone">Enter your Email or Phone Number</label>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" style="background-color: #D79922; border-color: #D79922;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                                                        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765zM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516M0 13.373l5.693-3.163L0 6.873z"/>
                                                    </svg>
                                                </span>
                                                {{form.email_or_phone(class="form-control form-control-lg", id="email_or_phone", placeholder="Enter email or phone")}}
                                            </div>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label text-white f2-light" for="password">Enter your Password</label>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text" style="background-color: #D79922; border-color: #D79922;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                                    </svg>
                                                </span>
                                                {{form.password(class="form-control form-control-lg", id="password", placeholder="Your Password")}}
                                            </div>
                                        </div>
                                        <div class="forgot-password">
                                            <a href="{{url_for('forgot_password')}}" class="forgot-password-link">Forgot Password?</a>
                                        </div>
                                        <div class="submit pt-1 mb-4">
                                            {{form.submit(class="btn btn-lg btn-block btn-yellow text-white")}}
                                        </div>
                                        <div class="register">
                                            <p class="mb-2 text-light">Don't have an account?</p>
                                            <a href="{{url_for('registration')}}" class="btn btn-lg btn-block register-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                                </svg>
                                                Register Here
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>